.App {
 display: flex;
 width: 100%;
 height: 100vh;
 margin: 10rem 15rem;

 padding-right: 4rem;
 background-image: url('./backgroundSF.jpg'); 
 background-repeat: no-repeat;
 background-position: center absolute ;
 background-size: 50rem;
 
}


.App-link {
  color: #61dafb;
}
