body {
  margin: 0;
  height: 100vh;
  background-image: url('./backgroundSF.jpg');
  background-size: 60rem;
  background-repeat: no-repeat;
  background-position: center center;


}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



.mainPageButtons {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}


