body {
  margin: 0;
  height: 50vh;
 
 

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



.mainPageButtons {
  display: flex;
  padding: 15rem;
  width: 50%;
  text-decoration: none;
}


.autoButton{
  display: flex;
  margin: -5rem 8rem;
  font-size: 1.5rem;
}

.fireButton {
  display: flex;
  margin: 3rem -5rem;
  font-size: 1.5rem;
}


.lifeButton {
  display: flex;
  flex-direction: row;
  margin: 3rem -12rem;
  font-size: 1.5rem;
}

.autoPage{
  background-color: blanchedalmond;
  height: 100%;
  width: 100%;
}

a {
  text-decoration: none;
  
}

a span{
  color: black;
}


/* @media only screen and (max-width: 20px){
  body {
    background-size: 30rem;
    
  }
} */

